body {
    background-color: palevioletred;
    color:ghostwhite;
    font-family: "Lobster Two", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}